* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

.signup {
    font-weight: 900;
}

.darkbg {
    background-color: #011c30;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth {
    width: 20%;
    min-height: 60%;
    max-height: 60%;
    /* margin: auto; */
    background-color: white;
}

.container {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.signup p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 30px;
    text-align: center;
}

.google {
    background-color: #2e75f8;
    padding: 10px 0;
    /* max-width: 50%;
    margin-right: auto;
    margin-left: auto; */
    margin-bottom: 30px;
}

.google a {
    display: flex;
    justify-content: space-between;
}

.google a .textspan{
    padding-right: 10px;
    font-weight: 100;
    font-size: 0.75rem;
    color: white;
}

.google .imgspan {
    background-color: white;
    width: 25px;
    height: 15px;
    
}

.google a img {
    max-width: 100%;
    max-height: 100%;
    padding-left: 5px;
}
.divider {
    /* width: 50%;
    margin-right: auto;
    margin-left: auto; */
    margin-bottom: 30px;
    font-weight: 100;
    font-size: 0.75rem;
    color: #767676;
}
.divider span {
    display: flex;
    flex-direction: row;
}
.divider span:before, .divider span:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #cdcaca;
    margin: auto;
}
.divider span:before {
    margin-right: 10px
}
.divider span:after {
    margin-left: 10px
}

.formcontrol {
    /* width: 50%;
    margin-left: auto;
    margin-right: auto; */
    margin-bottom: 30px;
}

.formcontrol label {
    color: #767676;
}

input[type="text"], input[type="email"] {
    min-width: 100%;
    padding: 10px;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: rgb(250, 122, 144);
    color: white;
    border: none;
    min-width: 100%;
    padding: 10px;
    border-radius: 5px;
}

input[type="submit"]:hover {
    color: #fa7a90;
    background-color: white;
    border: 1px solid #fa7a90;
}

.formspace1 {
    margin-bottom: 15px;
}

.formspace2 {
    margin-bottom: 20px;
}

.login {
    /* width: 50%;
    margin: auto; */
    padding: 5px;
    font-weight: 900;
    font-size: 0.75rem;
}

.login p {
    text-align: center;
    margin: 0;
}

.login p a {
    color: #2e75f8;
    text-decoration: none;
}

.login p a:hover {
    text-decoration: underline;
}
